h1{
    color :dodgerblue; background-color: rgb(122, 122, 122);
}
#header
{
    color :blue
}
.header2{
    color :antiquewhite; background-color: brown;

}
#so
{
color:blanchedalmond; background-color:black;
}